/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */

html, body {
  margin: 0;
  padding: 0;
}


.container {
  background: lightyellow;
}

.one {
  background: lightgreen;
  height: 49vh;
  margin-bottom: 1vh;
}

.two {
  background: red;
  margin-bottom: 1vh;
}

.three {
  background: blue;
}

.two, .three {
  height: 24.5vh;
}

@media screen and (min-width: 500px) {
  .two, .three {
    height: 50vh;
    width: 49vw;
    float: left;
  }

  .two {
    margin-right: 2vw;
  }
}

@media screen and (min-width: 1000px) {
  .one {
    float: left;
    height: 100vh;
    width: 63vw;
    margin: 0 1vw 0 0;
  }

  .two, .three {
    float: left;
    height: 49.5vh;
    width: 36vw;
    margin: 0;
  }

  .two {
    margin-bottom: 1vh;
  }
}
